Generated/**
Generated
Configuration/**
Configuration
.vscode/
1_Configure.py
2_Generate.py
3_Make.py
/testBuildResultUpdate.bat
/install
/3_Generate.py
/4_Make.py
/1_Configure.py
/2_GetDependencies.py
/Sources/.vs
