[submodule "Sources/CPFCMake"]
	path = Sources/CPFCMake
	url = https://github.com/Knitschi/CPFCMake.git
	branch = master
[submodule "Sources/CPFBuildscripts"]
	path = Sources/CPFBuildscripts
	url = https://github.com/Knitschi/CPFBuildscripts.git
	branch = master
[submodule "Sources/APackage"]
	path = Sources/APackage
	url = https://github.com/Knitschi/APackage.git
	branch = master
[submodule "Sources/BPackage"]
	path = Sources/BPackage
	url = https://github.com/Knitschi/BPackage.git
	branch = master
[submodule "Sources/cotire"]
	path = Sources/cotire
	url = https://github.com/Knitschi/cotire.git
[submodule "Sources/DPackage"]
	path = Sources/DPackage
	url = https://github.com/Knitschi/DPackage.git
	branch = master
[submodule "Sources/EPackage"]
	path = Sources/EPackage
	url = https://github.com/Knitschi/EPackage.git
	branch = master
[submodule "Sources/FPackage"]
	path = Sources/FPackage
	url = https://github.com/Knitschi/FPackage.git
	branch = master
[submodule "Sources/GPackage"]
	path = Sources/GPackage
	url = https://github.com/Knitschi/GPackage.git
	branch = master
[submodule "Sources/CPFMachines"]
	path = Sources/CPFMachines
	url = https://github.com/Knitschi/CPFMachines.git
[submodule "Sources/libSwitchWarningsOff"]
	path = Sources/libSwitchWarningsOff
	url = https://github.com/Knitschi/libSwitchWarningsOff.git
