[submodule "Sources/CPFCMake"]
	path = Sources/CPFCMake
	url = ssh://admin@datenbunker:/share/GitRepositories/CPFCMake.git
	branch = master
[submodule "Sources/CPFBuildscripts"]
	path = Sources/CPFBuildscripts
	url = ssh://admin@datenbunker:/share/GitRepositories/CPFBuildscripts.git
	branch = master
[submodule "Sources/APackage"]
	path = Sources/APackage
	url = ssh://admin@datenbunker:/share/GitRepositories/APackage.git
	branch = master
[submodule "Sources/BPackage"]
	path = Sources/BPackage
	url = ssh://admin@datenbunker:/share/GitRepositories/BPackage.git
	branch = master
[submodule "Sources/CIBuildConfigurations"]
	path = Sources/CIBuildConfigurations
	url = ssh://admin@datenbunker:/share/GitRepositories/CIBuildConfigurations.git
	branch = master
[submodule "Sources/cotire"]
	path = Sources/cotire
	url = https://github.com/Knitschi/cotire.git
[submodule "Sources/CPFJenkinsjob"]
	path = Sources/CPFJenkinsjob
	url = ssh://admin@datenbunker:/share/GitRepositories/CPFJenkinsjob.git
	branch = master
[submodule "Sources/DPackage"]
	path = Sources/DPackage
	url = ssh://admin@datenbunker:/share/GitRepositories/DPackage.git
[submodule "Sources/EPackage"]
	path = Sources/EPackage
	url = ssh://admin@datenbunker:/share/GitRepositories/EPackage.git
